# Created by .ignore support plugin (hsz.mobi)
### WordPress template
/_dev/wordpress-root
/theme/dist
/theme/vendor
/theme/composer.lock
/theme/package-lock.json
/theme/style.css


### JetBrains template
# User-specific stuff
.idea/
